@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
body{ 
    font-family: 'Josefin Sans', sans-serif;
}

img{ 
    float: left; 
    width: 250px; 
    height: 250px; 
    margin: 10px;
} 
